* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  border-radius: 10%;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  user-select: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues,
.colClues {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: lightgrey;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue.completed {
  background-color: #15b58e;
  color: #000;
}

.clue div {
  margin: 2px;
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 40px;
}

.toggle-btn {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 80px;
  height: 40px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  position: relative;
  left: 60px;
  margin-top: 210px; /* Espacio por encima */
  margin-bottom: 20px;
  
}

.toggle-btn .thumb {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #15b58e;
}

.toggle-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 5px);
}

.toggle-btn.toggled::after {
  content: "\25A0"; /* Código Unicode para un cuadrado */
  display: none;
  width: 18px;
  height: 18px;
  background-color: #080808;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn:not(.toggled)::before {
  content: "X";
  display: block; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 13px;
  font-size: 24px; /* Ajusta el tamaño de la fuente */
  line-height: 24px; /* Asegura que la línea tenga el mismo alto que la fuente para centrar mejor */
  font-weight: bold;
}

.toggle-btn.toggled::after {
  display: block; /* Mostrar solo cuando está toggled */
}