* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: lightgrey;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
}

.clue.completed {
  background-color: #15b58e;
  color: #000;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.toggle-btn{
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.748);
  position: relative;
}

.toggle-btn .thumb{
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
} 

 .toggle-btn.toggled{
  background-color: #15b58e;
}

.toggle-btn:hover{
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb{
  left: calc(50px - 25px);
} 