* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;

  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.square {
  border-radius: 10%;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  user-select: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues,
.colClues {
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.clue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: lightgrey;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
  user-select: none;
}

.clue.completed {
  background-color: #15b58e;
  color: #000;
}

.clue div {
  margin: 2px;
}

.rowClues .clue {
  flex-direction: row;
}

.colClues .clue {
  flex-direction: column;
}

.statusText {
  margin-top: 15px;
  font-size: 30px;
  position: relative;
  align-self: center;
  user-select: none;
}

.BoardGame {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.hint-button {
  position: relative;
  user-select: none;
  padding: 0;
  background-color: #b7b9ba;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: salmon;
  position: relative;
  margin: auto;
}

.hint-button:active {
  transform: scale(0.5);
}

.thumb-common {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.button-common {
  background-color: #b7b9ba;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 80px;
  height: 40px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
  position: relative;
  margin: auto;
}

.button-common.toggled::after {
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.button-common:hover {
  border-color: #6f6f6f;
}

.button-common.toggled .thumb {
  left: calc(50px - 5px);
}

.button-common:not(.toggled)::before {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.button-common.toggled::after {
  display: block;
}

.toggle-btn:not(.toggled)::before {
  content: "X";
}

.toggle-btn.toggled::after {
  /* Código Unicode para un cuadrado */
  content: "\25A0";
  background-color: #080808;
}

.toggle-btn.toggled {
  background-color: #15b58e;
}

.solve-button.toggled {
  background-color: salmon;
}

.solve-button.toggled::after {
  content: "✨";
  background-color: salmon;
}

.solve-button:not(.toggled)::before {
  content: "❓";
}